---
layout: default
format: page-fullwidth
---
{% if page.image.title %}
<div class="row t30">
    <div class="small-12 columns">
        <img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}">
        {% if page.image.caption_url and page.image.caption %}
        <p class="text-right caption">
            <a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
        </p>
        {% endif %}
    </div><!-- /.small-12.columns -->
</div><!-- /.row -->
{% endif %}


<div class="row t30">
    <div class="medium-12 columns">
        <article>
            <header>
                {% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
                <h1>{{ page.title }}</h1>
            </header>

            {% if page.teaser %}
            <p class="teaser">
                {{ page.teaser }}
            </p>
            {% endif %}

            {{ content }}
        </article>
    </div><!-- /.medium-12.columns -->
</div><!-- /.row -->

{% if page.show_meta == true %}
    {% include _meta_information.html %}
{% endif %}

{% if page.collection == "tutorial" %}
<div id="post-nav" class="row">
    {% if page.next.url %}
    <div class="small-5 columns text-right"><a class="button small radius next" href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}} &raquo;</a></div><!-- /.small-4.columns -->
    {% endif %}
    {% if page.previous.url %}
    <div class="small-5 columns"><a class="button small radius prev" href="{{ site.baseurl }}{{page.previous.url}}">&laquo; {{page.previous.title}}</a></div><!-- /.small-4.columns -->
    {% else %}
    <div class="small-5 columns text-right"></div><!-- /.small-4.columns -->
    {% endif %}
</div>
{% endif %}
